@import "../../assets/scss/styles.scss";

.about__content {
	@include AutoLayoutRow(0, 50px);
}

.soap__machine {
	z-index: -1;
	width: 200px;
	border-radius: 10px;
	border: $image-border;
	filter: $image-filter;
}

.about-content__list {
	@include AutoLayoutColumn(0, 22px);
	font-size: size(medium);
	li {
		@include AutoLayoutRow(0, 5px);
	}
}

.icon {
	@include HoverActive();
}

/* Tablet */
@media screen and (max-width: 960px) {
	.soap__machine {
		width: 150px;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	.about__content {
		@include AutoLayoutColumn(0, 25px);
		align-items: center;
		margin-bottom: 100px;
	}

	.soap__machine {
		z-index: -1;
		width: 100px;
		border-radius: 10px;
		border: $image-border;
		filter: $image-filter;
	}

	.about-content__list {
		@include AutoLayoutColumn(0, 10px);

		font-size: mobile-size(small);
		padding: 0 20px;
		li {
			@include AutoLayoutRow(0, 5px);
		}
	}

	.icon {
		@include HoverActive();
	}
}
