@import './mixins';
@import './variables';

.home {
  @include AutoLayoutRow(150px 0 0 0, 150px);
  margin-bottom: 100px;
}

.home__logo {
  width: 300px;
  border-radius: 232.225px;
}

.home__content {
  @include AutoLayoutColumn(0, 20px);
}

.home__info {
  @include AutoLayoutColumn(0, 5px);
  align-items: center;
}

.home-info__title {
  font-family: 'Brush Script MT', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 97px;
    text-align: center;
}

.home-info__list {
  @include AutoLayoutColumn(0, 5px);
  li {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 44px;
  }
}

.home__btns {
  @include AutoLayoutRow(0, 25px);
}

.button {
  @include AutoLayoutRow(7px, 15px);
  width: 170px;
  height: 40px;
  color: #fff;
  background: $black07-color;
  box-shadow: 8px 8px 3px $box-shadow-color;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    @include HoverActive();
  }
}

.button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

