@import './mixins';
@import './variables';

.calculator {
  @include AutoLayoutColumn(0, 10px);
  align-items: center;
  padding: 10px;
  border: 3px dotted #f422223d;
  border-radius: 5px;
}

.calculator__title {
  @include HoverActive();
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  border-bottom: 3px dotted #f422223d;
}

.form {
  @include AutoLayoutColumn(10px, 30px);
  align-items: center;
}

.basket-weight__label{
  @include AutoLayoutRow(0, 10px);
  font-size: 20px;
}

.basket-weight__input{
  width: 75px;
  font-size: 20px;
  background-color: $black07-color;
  color: $text-color;
  border: 3px solid #f422223d;
  outline: none;
  transition: 0.5s ease-in-out;
  &:focus {
    border: 3px solid #f42222;
  }
}

.basket-select__label {
  @include AutoLayoutRow(0, 10px);
  font-size: 20px;
}

.basket-select__input {
  width: 100px;
  font-size: 20px;
  background-color: $black07-color;
  color: $text-color;
  border: 3px solid #f422223d;
  outline: none;
  transition: 0.5s ease-in-out;

  &:focus {
    border: 3px solid #f42222;
  }

  option {
    background-color: #000;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-color;
}

.button {
  @include AutoLayoutRow(7px, 15px);
  align-self: center;
  width: 170px;
  height: 40px;
  background: $black07-color;
  box-shadow: 8px 8px 3px $box-shadow-color;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    @include HoverActive();
  }
}

.button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

.price {
  font-size: 30px;
  margin-top: 10px;
}