@import './mixins';
@import './variables';

.services__content {
  @include AutoLayoutColumn(40px,40px);
  align-items: center;
  margin: 0 100px;
}

.services-content__header {
  @include AutoLayoutRow(0, 50px)
}

.services-header__img {
  z-index: -1;
  width: 300px;
  height: 300px;
  border: $image-border;
  border-radius: 50%;
  filter: $image-filter;
}

.services-header__info {
  @include AutoLayoutColumn(0,30px);
  align-items: center;
}

.services-header__title {
  @include AutoLayoutColumn(0,20px);
  font-size: 35px;
  font-weight: 600;
  .head {
    align-self: center;
  }
  .sub-head {
    font-size: 25px;
  }
}

.services-header__list {
  @include AutoLayoutColumn(0, 22px);
  font-size: 20px;

  li {
    background: url(/src/assets/img/caret-right.svg) no-repeat top left;
    margin: 0;
    padding: 4px 0 4px 40px;
  }
}

.services__prices {
  @include AutoLayoutColumn(0,20px);
  background-color: $black07-color;
  border-radius: 20px;
  width: 700px;
}

.services-prices__title {
  font-size: 30px;
  font-weight: 700;
  border-bottom: 2px solid #F42222;
  padding: 0 0 5px;
  margin: 10px 20px;
  width: 650px;
}