@import './mixins';
@import './variables';

.services__content {
  @include AutoLayoutColumn(40px,40px);
  align-items: center;
}

.services-content__header {
  @include AutoLayoutRow(0, 50px)
}

.services-header__img {
  z-index: -1;
  width: 300px;
  height: 300px;
  border: $image-border;
  border-radius: 50%;
  filter: $image-filter;
}

.services-header__info {
  @include AutoLayoutColumn(0,30px);
  align-items: center;
}

.services-header__title {
  @include AutoLayoutColumn(0,20px);
  font-size: 35px;
  font-weight: 600;
  .head {
    align-self: center;
  }
  .sub-head {
    font-size: 25px;
  }
}

.services-header__list {
  @include AutoLayoutColumn(0, 22px);
  font-size: 20px;

  li {
    background: url(/src/assets/img/caret-right.svg) no-repeat top left;
    margin: 0;
    padding: 4px 0 4px 40px;
  }
}

.services__btns {
  @include AutoLayoutRow(0, 25px);
}

.services__btn {
  @include AutoLayoutRow(7px, 15px);
  width: 170px;
  height: 40px;
  background: $black07-color;
  box-shadow: 8px 8px 3px $box-shadow-color;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    @include HoverActive();
  }
}

.services-button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

.basket__content {
  font-size: 30px;
  font-weight: 700;
}
