// Colors
$text-color: #fff;
$black05-color: rgba(0, 0, 0, 0.5);
$black07-color: rgba(0, 0, 0, 0.7);
$border-color: rgba(0, 0, 0, 0.75);
$box-shadow-color: rgba(0, 0, 0, 0.4);

// Fonts
$default-font: 'Inter', sans-serif;