@import './resets';
@import './variables';
@import './header';
@import './home';
@import './about';
@import './footer';
@import './heading';
@import './services';
@import './pricecalculator';



body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/src/assets/img/background.jpg) no-repeat center fixed;
  background-size: cover;
  color: $text-color;
  font-family: $default-font;
}

.section {
  margin-top: 75px;
}