/* ========== Variables ========== */
$header-height: 3rem;
$fw-medium: 500;
$fw-semi-bold: 600;

/* ========== Font and typography ========== */
$default-font: "Inter", sans-serif;

$font-sizes: (
	"big": 2rem,
	"h1": 1.5rem,
	"h2": 1.25rem,
	"h3": 1.125rem,
	"normal": 0.938rem,
	"small": 0.813rem,
	"smaller": 0.75rem,
);

@function fs($font-size) {
	@return map-get($font-sizes, $font-size);
}

/* ========== Margins Bottom ========== */
$margin-bottoms: (
	"0-25": 0.25rem,
	"0-5": 0.5rem,
	"0-75": 0.75rem,
	"1": 1rem,
	"1-5": 1.5rem,
	"2": 2rem,
	"2-5": 2.5rem,
	"3": 3rem,
);

@function mb($margin-bottom) {
	@return map-get($margin-bottoms, $margin-bottom);
}

/* ========== z index ========== */
$z-indexes: (
	"first": 1000,
	//modal
	"middle": 100,
	//fixed
	"last": 10,
	//tooltip
);

@function z($z-index) {
	@return map-get($z-indexes, $z-index);
}

/* ========== Colors ========== */
$colors: (
	"text": #fff,
	"bg": #000,
	"bg-light": rgba(0, 0, 0, 0.7),
	"bg-lighter": rgba(0, 0, 0, 0.5),
	"ol": #f42222,
	"ol-light": rgba(244, 34, 34, 0.6),
	"ol-lighter": rgba(244, 34, 34, 0.23921568),
);

@function colors($color) {
	@return map-get($colors, $color);
}

/*==================== Resets ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0 0 $header-height 0;
	font-family: $default-font;
	font-size: fs(normal);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../img/background.jpg) no-repeat center fixed;
	background-size: cover;
	color: $default-color;
}

h1,
h2,
h3,
h4 {
	color: colors(text);
	font-weight: $fw-semi-bold;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
