// Colors
$default-color: #fff;
$black05-color: rgba(0, 0, 0, 0.5);
$black07-color: rgba(0, 0, 0, 0.7);
$border-color: rgba(0, 0, 0, 0.75);
$box-shadow-color: rgba(0, 0, 0, 0.4);

// Fonts
$default-font: "Inter", sans-serif;

// Font Sizes
$font-sizes: (
	"title": 3rem,
	"subtitle": 1.5rem,
	"default": 1rem,
	"large": 1.875rem,
	"medium": 1.25rem,
	"small": 1.125rem,
);

@function size($font-size) {
	@return map-get($font-sizes, $font-size);
}

// Mobile Font Sizes
$mobile-font-sizes: (
	"title": 1.75rem,
	"subtitle": .900rem,
	"default": 0.825rem,
	"large": 1.4rem,
	"medium": 1.15rem,
	"small": 1rem,
);

@function mobile-size($mobile-font-size) {
	@return map-get($mobile-font-sizes, $mobile-font-size);
}

//
$image-border: 5px solid $border-color;
$image-filter: drop-shadow(18px 18px 4px $black07-color);
$button-shadow: 8px 8px 3px $box-shadow-color;
