// Colors
$default-color: #fff;
$black05-color: rgba(0, 0, 0, 0.5);
$black07-color: rgba(0, 0, 0, 0.7);
$border-color: rgba(0, 0, 0, 0.75);
$box-shadow-color: rgba(0, 0, 0, 0.4);

// Fonts
$default-font: 'Inter', sans-serif;

// Fonts Size
$title-font-size: 3rem;
$subtitle-font-size: 1.5rem;
$default-font-size: 1rem;
$large-font-size: 1.875rem;
$medium-font-size: 1.25rem;
$small-font-size: 1.125rem;

//
$image-border: 5px solid $border-color;
$image-filter: drop-shadow(18px 18px 4px $black07-color);
$button-shadow: 8px 8px 3px $box-shadow-color;
