@import "../../assets/scss/styles.scss";

.calculator {
	@include AutoLayoutColumn(0, 10px);
	align-items: center;
	border: 3px dotted #f422223d;
	border-radius: 5px;
	width: 300px;
	height: 400px;
}

.calculator__title {
	@include HoverActive();
	font-size: size(subtitle);
	font-weight: 700;
	padding: 10px;
	border-bottom: 3px dotted #f422223d;
}

.form {
	@include AutoLayoutColumn(10px, 30px);
	align-items: center;
}

.basket-weight__label {
	@include AutoLayoutRow(0, 10px);
	font-size: size(medium);
}

.basket-weight__input {
	width: 75px;
	font-size: size(medium);
	background-color: $black07-color;
	color: $default-color;
	border: 3px solid #f422223d;
	outline: none;
	transition: 0.5s ease-in-out;
	&:focus {
		border: 3px solid #f42222;
	}
}

.basket-select__label {
	@include AutoLayoutRow(0, 10px);
	font-size: size(medium);
}

.basket-select__input {
	width: 100px;
	font-size: size(medium);
	background-color: $black07-color;
	color: $default-color;
	border: 3px solid #f422223d;
	outline: none;
	transition: 0.5s ease-in-out;

	&:focus {
		border: 3px solid #f42222;
	}

	option {
		background-color: #000;
	}
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $default-color;
}

.price {
	font-size: size(large);
	margin-top: 10px;
}

.warning {
	text-align: center;
	font-size: size(small);
}

.warning-label {
	color: #f42222;
	font-size: size(medium);
}

.supplies {
	font-size: size(default);
}

/* Mobile */
@media screen and (max-width: 767px) {
	.calculator__title {
		font-size: mobile-size(large);
	}

	.basket-weight__label {
		font-size: mobile-size(small);
	}

	.basket-weight__input {
		font-size: mobile-size(small);
	}

	.basket-select__label {
		font-size: mobile-size(small);
	}

	.basket-select__input {
		font-size: mobile-size(small);
	}

	.price {
		font-size: mobile-size(large);
	}

	.warning {
		font-size: mobile-(default);
	}

	.warning-label {
		font-size: mobile-size(small);
	}

	.supplies {
		font-size: mobile-size(default);
	}
}
