@import "../../assets/scss/styles.scss";

.contact {
	margin-bottom: 150px;
	margin-top: 25px;
}

.contact__content {
	@include AutoLayoutRow(0, 25px);
}

.contact-content__group {
	@include AutoLayoutRow(0, 20px);
	align-items: center;
}

.contact__buttons {
	@include AutoLayoutColumn(0, 50px);
}

.content-group__text {
	font-size: size(medium);
	font-weight: bold;
}

.map__logo {
	z-index: -1;
	width: 250px;
	filter: $image-filter;
}

/* Tablet */
@media screen and (max-width: 960px) {
	.contact {
		margin-bottom: 150px;
		margin-top: 25px;
	}

	.contact__content {
		@include AutoLayoutColumn(0, 25px);
		flex-direction: column-reverse;
		align-items: center;
	}

	.contact-content__group {
		@include AutoLayoutRow(0, 20px);
		align-items: center;
	}

	.contact__buttons {
		@include AutoLayoutColumn(0, 50px);
	}

	.content-group__text {
		font-size: size(medium);
		font-weight: bold;
	}

	.map__logo {
		z-index: -1;
		width: 250px;
		filter: $image-filter;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	.contact {
		margin-bottom: 150px;
		margin-top: 25px;
	}

	.contact__content {
		@include AutoLayoutColumn(0, 100px);
		flex-direction: column-reverse;
		align-items: center;
	}

	.contact-content__group {
		@include AutoLayoutColumn(0, 20px);
		align-items: center;
	}

	.contact__buttons {
		@include AutoLayoutColumn(0, 50px);
		align-items: center;
	}

	.content-group__text {
		font-size: mobile-size(default);
		font-weight: bold;
	}

	.map__logo {
		z-index: -1;
		width: 250px;
		filter: $image-filter;
	}
}
