@import "../../assets/scss/styles.scss";

.contact {
	margin-bottom: 150px;
	margin-top: 25px;
}

.contact__content {
	@include AutoLayoutColumn(0 350px, 50px);
}

.contact-content__group {
	@include AutoLayoutRow(0, 20px);
}

.content-group__text {
	font-size: 20px;
	font-weight: bold;
}
