@import "../../assets/scss/styles.scss";

.home {
	@include AutoLayoutRow(150px 0 0 0, 150px);
	margin-bottom: 100px;
}

.home__logo {
	width: 300px;
	border-radius: 232.225px;
}

.home__content {
	@include AutoLayoutColumn(0, 20px);
}

.home__info {
	@include AutoLayoutColumn(0, 5px);
	align-items: center;
}

.home-info__title {
	font-family: "Brush Script MT", serif;
	font-style: italic;
	font-weight: 400;
	font-size: size(title);
	line-height: 97px;
	text-align: center;
}

.home-info__list {
	@include AutoLayoutColumn(0, 5px);
	li {
		font-style: normal;
		font-weight: 800;
		font-size: size(subtitle);
		line-height: 44px;
	}
}

.home__btns {
	@include AutoLayoutRow(0, 25px);
}

/* Tablet */
@media screen and (max-width: 960px) {
	.home {
		@include AutoLayoutRow(150px 0 0 0, 75px);
		margin-bottom: 100px;
	}

	.home__logo {
		width: 200px;
		border-radius: 232.225px;
	}

	.home__content {
		@include AutoLayoutColumn(0, 20px);
	}

	.home__info {
		@include AutoLayoutColumn(0, 5px);
		align-items: center;
	}

	.home-info__title {
		font-family: "Brush Script MT", serif;
		font-style: italic;
		font-weight: 400;
		font-size: mobile-size(title);
		line-height: 97px;
		text-align: center;
	}

	.home-info__list {
		@include AutoLayoutColumn(0, 5px);
		li {
			font-style: normal;
			font-weight: 800;
			font-size: mobile-size(subtitle);
			line-height: 44px;
		}
	}

	.home__btns {
		@include AutoLayoutRow(0, 25px);
	}
}

/* Mobile */
@media screen and (max-width: 768px) {
	.home {
		@include AutoLayoutColumn(50px 0 0 0, 10px);
		align-items: center;
		margin-bottom: 100px;
	}

	.home__logo {
		width: 200px;
		border-radius: 232.225px;
	}

	.home__content {
		@include AutoLayoutColumn(0, 20px);
		align-items: center;
	}

	.home__info {
		@include AutoLayoutColumn(0, 5px);
		align-items: center;
	}

	.home-info__title {
		font-family: "Brush Script MT", serif;
		font-style: italic;
		font-weight: 400;
		font-size: mobile-size(title);
		line-height: 97px;
		text-align: center;
	}

	.home-info__list {
		@include AutoLayoutColumn(0, 5px);
		li {
			font-style: normal;
			font-weight: 800;
			font-size: mobile-size(small);
			line-height: 44px;
		}
	}

	.home__btns {
		@include AutoLayoutRow(0, 25px);
	}
}
