@import "../../assets/scss/styles.scss";

.heading {
	@include AutoLayoutColumn(0, 5px);
	align-items: center;
	margin-bottom: 50px;
	padding-top: 75px;
}

.title {
	font-style: normal;
	font-weight: 900;
	font-size: $title-font-size;
	line-height: 85px;
}

.subtitle {
	font-style: normal;
	font-weight: 600;
	font-size: $subtitle-font-size;
	line-height: 39px;
}
