@import "../../assets/scss/styles.scss";

.heading {
	@include AutoLayoutColumn(0, 5px);
	align-items: center;
	margin-bottom: 50px;
	padding-top: 73.25px;
}

.title {
	font-style: normal;
	font-weight: 900;
	font-size: size(title);
	line-height: 85px;
}

.subtitle {
	font-style: normal;
	font-weight: 600;
	font-size: size(subtitle);
	line-height: 39px;
}

@media screen and (max-width: 767px) {
	.heading {
		@include AutoLayoutColumn(0, 0);
		align-items: center;
		margin-bottom: 50px;
		padding-top: 25px;
	}

	.title {
		font-size: mobile-size(title);
	}

	.subtitle {
		font-size: mobile-size(subtitle);
		font-weight: 500;
	}
}

@media screen and (max-width: 767px) {
	.heading {
		padding-top: 20.7px;
	}
}
