@import "../../assets/scss/styles.scss";

.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.nav {
	max-width: 968px;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__title {
	color: $default-color;
	font-weight: 500;
	font-size: 1rem;
	&:hover {
		@include HoverActive();
	}
}

.nav__toggle {
	color: $default-color;
	font-weight: 500;
	font-size: 1.1rem;
	&:hover {
		@include HoverActive();
	}
}

@media screen and (max-width: 767px) {
	.nav__menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: black;
		padding: 2rem 1.5rem 4rem;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
		border-radius: 1.5rem 1.5rem 0 0;
		transition: 0.25s;
		z-index: 2;
	}

	/* Show Menu */
	.show__menu {
		bottom: 0;
	}
}

.nav__list {
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: mobile-size(large);
	color: $default-color;
	font-weight: 500;
	&:hover {
		@include HoverActive();
	}
}

.nav__icon {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.nav__close {
	position: absolute;
	right: 1.3rem;
	bottom: 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: $default-color;
	&:hover {
		@include HoverActive();
	}
}

@media screen and (min-width: 767px) {
	.header {
		top: 0;
		height: 3rem;
		display: flex;
		justify-content: center;
	}

	.nav__close {
		display: none;
	}

	.nav__toggle {
		display: none;
	}

	.nav {
		display: flex;
		justify-content: center;
		.nav__list {
			display: flex;
			gap: 2rem;
		}
	}

	.nav__title {
		font-size: 1.4rem;
		padding-right: 5rem;
	}

	.nav__menu {
		margin-left: auto;
	}
}
