* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  gap: 275px;
  position: fixed;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 3rem;
  background: black;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 75px;
}

.nav__title {
  font-size: 1.25rem;
  color: #fff;
}

.nav__title:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.nav__item {
  font-size: 1.25rem;
  color: #fff;
}

.nav__item:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.active-item {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px 0 0 0;
  gap: 150px;
  margin-bottom: 100px;
}

.home__logo {
  width: 300px;
  border-radius: 232.225px;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
}

.home__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  align-items: center;
}

.home-info__title {
  font-family: 'Brush Script MT';
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 97px;
  text-align: center;
}

.home-info__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
}

.home-info__list li {
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 44px;
}

.home__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 25px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 15px;
  width: 170px;
  height: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

.about__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 50px;
}

.soap__machine {
  z-index: -1;
  width: 200px;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.75);
  filter: drop-shadow(18px 18px 4px rgba(0, 0, 0, 0.7));
}

.about-content__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 22px;
  font-size: 20px;
}

.about-content__list li {
  background: url(/src/assets/img/check.svg) no-repeat top left;
  margin: 0;
  padding: 4px 0 4px 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.footer__logo {
  width: 100px;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
  align-items: center;
  font-size: 20px;
}

.jerry {
  color: #fff;
  font-weight: bolder;
}

.jerry:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 75px;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 85px;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
}

.services__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  align-items: center;
  margin: 0 100px;
}

.services-content__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 50px;
}

.services-header__img {
  z-index: -1;
  width: 300px;
  height: 300px;
  border: 5px solid rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  filter: drop-shadow(18px 18px 4px rgba(0, 0, 0, 0.7));
}

.services-header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
  align-items: center;
}

.services-header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
  font-size: 35px;
  font-weight: 600;
}

.services-header__title .head {
  align-self: center;
}

.services-header__title .sub-head {
  font-size: 25px;
}

.services-header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 22px;
  font-size: 20px;
}

.services-header__list li {
  background: url(/src/assets/img/caret-right.svg) no-repeat top left;
  margin: 0;
  padding: 4px 0 4px 40px;
}

.services__prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 700px;
  padding: 20px;
}

.services-prices__title {
  font-size: 30px;
  font-weight: 700;
  border-bottom: 2px solid #F42222;
  padding: 0 0 5px;
  margin: 10px 10px;
  width: 650px;
}

.services-prices__description {
  line-height: 30px;
  font-size: 18px;
}

.services-prices__breakdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 40px;
}

.breakdown__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 3px dotted #f422223d;
  border-radius: 5px;
  align-self: start;
}

.breakdown__title {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  border-bottom: 3px dotted #f422223d;
}

.breakdown__subtitle {
  font-size: 20px;
}

.breakdown__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  align-items: center;
  font-size: 18px;
}

.medium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 3px dotted #f422223d;
  border-radius: 5px;
}

.calculator__title {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  border-bottom: 3px dotted #f422223d;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 30px;
  align-items: center;
}

.basket-weight__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  font-size: 20px;
}

.basket-weight__input {
  width: 75px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 3px solid #f422223d;
  outline: none;
  transition: 0.5s ease-in-out;
}

.basket-weight__input:focus {
  border: 3px solid #f42222;
}

.basket-select__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  font-size: 20px;
}

.basket-select__input {
  width: 100px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 3px solid #f422223d;
  outline: none;
  transition: 0.5s ease-in-out;
}

.basket-select__input:focus {
  border: 3px solid #f42222;
}

.basket-select__input option {
  background-color: #000;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 15px;
  align-self: center;
  width: 170px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

.price {
  font-size: 30px;
  margin-top: 10px;
}

.contact {
  margin-bottom: 150px;
  margin-top: 25px;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 350px;
  gap: 50px;
}

.contact-content__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 15px;
  width: 170px;
  height: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

.content-group__text {
  font-size: 20px;
  font-weight: bold;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  border: 1px solid #f4222299;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 15px;
  width: 170px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #F42222;
  stroke: #F42222;
  stroke-width: 0.5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.button__text {
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 29px;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/src/assets/img/background.jpg) no-repeat center fixed;
  background-size: cover;
  color: #fff;
  font-family: "Inter", sans-serif;
}
/*# sourceMappingURL=app.css.map */